<div class="session-playlist">
    <div class="header">
        <div class="top-banner">
            <button class="button"
                    mat-raised-button
                    matTooltip="Button that displays a tooltip when focused or hovered over"
                    matTooltipClass="custom-tooltip"
                    aria-label="Button that displays a tooltip when focused or hovered over">
            Online
            </button>

        </div>
        <div class="title">
            <span>{{title}}</span>
        </div>
    </div>
    <app-custom-table [tableData]="sessionData"></app-custom-table>
</div>
